@using MultiSelectPackage.Components
@typeparam T

<div class="dropdown-container @(isDropdownOpen ? "open" : "")" @onclick="ToggleDropdown"
	 style="@(GetHeight() + GetWidth() + GetCustomStyle())">
	@if (CanSearch)
	{
		<!-- Search Box -->
		<input type="text" placeholder="@(SearchPlaceHolder)" @oninput="FilterItems" class="dropdown-search" />
	}

	<!-- Dropdown with Multiple Selections -->
	<div class="dropdown-list">
		@if (FilteredItemList != null && FilteredItemList.Any())
		{
			@foreach (var item in FilteredItemList)
			{
				<div class="dropdown-item">
					<input type="checkbox"
						   id="@GetPropertyValue(item, IdentifierProperty)"
						   value="@GetPropertyValue(item, IdentifierProperty)"
						   checked="@IsSelected(item)"
						   @onchange="() => OnValueChanged(item)"
						   class="dropdown-checkbox" />
					<label for="@GetPropertyValue(item, IdentifierProperty)" class="dropdown-label">
						@GetPropertyValue(item, DisplayProperty)
					</label>
				</div>
			}
		}
		else
		{
			<div class="dropdown-item disabled">
				No items available
			</div>
		}
	</div>
</div>
